/* main styles for parya.org */


/* @group HTML elements 
*********************************************/

/* @group Lists */
ul ul, ul ol,
ol ol, ol ul,
.block ul ul, .block ul ol,
.block ol ol, .block ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0;
}

li { margin: 0; padding: 0; }

.item-list ul li /* Drupal override */ {
  margin: 0;
  padding: 0;
  list-style: inherit;
}


ul          { list-style-type: square; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }


/* standardize list item indentation */
.content ul, .content ol {
  margin-left: 0;
  padding-left: 2em; /* LTR */
}

.content dt { margin: 0; padding: 0; }

.content dd {
  margin: 0 0 0 2em; /* LTR */
  padding: 0;
}
/* @end Lists */




/* @group Tables */
/*
 * Drupal provides table styling which is only useful for its admin section
 * forms, so we override this default CSS. (We set it back in forms.css.)
 */
table {
  width: 100%;
  margin: 10px 0 10px;
  border-collapse: collapse;
  border-spacing: 0;
  /* width: 100%; */ /* Prevent cramped-looking tables */
}
tbody {
  border-top: none;
}

table th, form table th,
table td {
  text-align: left;
  vertical-align: middle;
  padding: 0.143em 0.357em; /*equivalent to 2px 5px*/
}
table tr, table tr.odd, table tr.even {
  border: 0 none;
  padding: 0;
}
table th,
thead th,
tbody th {
  text-align: left; /* LTR */
  text-transform: uppercase;
  background: #e1e2dc;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #bebfb9;
  /*border-bottom: none;*/
  padding: 0.214em 0.714em; /*equivalent to 3px 10px*/
}

table th a {
  display: block;
  position: relative;
}
table th.active img {
  position: absolute;
  top: 3px;
  right: 3px;
}
table td.active {
  background: #e9e9dd;
}
table tr.odd td.active {
  background: #f3f4ee;
}
table tr.selected td.active,
table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}
tr.odd {
  background: #fff;
}


/* @end Tables*/


/* @end HTML elements */


/* @group ZONES
*********************************************/


#page { background: #aaa;}
#zone-menu, 
#zone-header,
#zone-preface,
#zone-content, 
#zone-postscript,
#zone-secondpostscript {
  background:#fff;  /* comment this property out to see the grid properly*/
}
#zone-preface, 
#zone-content, 
#zone-postscript { 
  padding:20px 0; 
}



/* @group --header */
#section-header {}


/* @group ----branding */
#zone-branding-wrapper { padding: 30px 0 15px;}
.logo-img { 
  margin-right:0;
  padding: 20px 0;
}
.grid-3.region-branding { margin:0; }
.grid-9.region-branding-ad { margin-left:0; }
/* @end ----branding */



/* @group ----navigation */
#zone-user .region-inner  { margin: 10px 0 0; }
.block-user-menu {}
.block-user-menu ul.menu  { text-align:right; }
.block-user-menu ul.menu li {
  padding:none; 
  list-style:none;
  display:inline;
}
.block-user-menu ul.menu li.last { margin-right: 0; }
.block-search .form-item-search-block-form .form-text { width:140px; }
#block-search-form { float:right; }

#breadcrumb { margin: 10px 10px 20px;}
div.breadcrumb,
div.region-content-inner {
  margin: 0 10px;
}

.sf-menu  a, .sf-menu a:link, .sf-menu a:visited {
  text-decoration:none;
  color:#333;
}
#superfish-1 li.sf-depth-1 a.sf-depth-1 {
  text-transform:uppercase;
  font-size:1.2em;
}
/* @end ----navigation */


/* @end --header */






/* @group --preface */
.front #zone-preface .block-inner {
  padding: 20px;
  background: #eaeaea;
  height: 50px;
}
.front #zone-preface { 	}
/* @end --preface*/

/* @group --content */

.node .field-slideshow-wrapper {
  margin-bottom: 20px;
}
.node .field-slideshow-pager {
  margin: 10px 0;
}

/* @end --preface */


/* @group --postscript */
/* homepage blocks */
#zone-postscript .region {
  border: 1px solid #ccc;
  margin: 0 9px;
}
#zone-postscript .block { padding: 10px; }
#zone-postscript .block .content { font-size:90%; }
/* @end --postscript */




#zone-secondpostscript{  padding: 0 0 20px; }


/* @group --footer */
/* TODO: pre-process lists to add classes to ul instead: "links inline clearfix" */
#section-footer ul.menu li,
#section-footer ul.language-switcher-locale-url li,
#zone-user ul.menu li {
  display:inline;
  margin-right:0.5em;
}

#section-footer {
  background: #333;
  padding: 20px 0 50px;
  color:#fff;
  min-height:200px;
}
#section-footer a, #section-footer a:link { color:#fff; }

#block-menu-menu-footer-links ul { text-align:right;}

#section-footer #block-locale-language { }

#block-block-15 img { float: right; }
/* @end --footer */



/* @end ZONES */





/* @group BLOCKS
*********************************************/

aside .block {
  margin-bottom:20px;
  border: 1px solid #D6D6D6;
  background:#fefefe;
}
aside .block .block-inner {
  padding:25px 20px;
}
aside .block h2 {
  border-bottom: 1px solid #D6D6D6;
  font-size:1.5em;
  line-height: 1.2em;
  font-weight:normal;
  margin: 0 0 1em;
  padding-bottom:5px;
  text-shadow:#FFFFFF 0 1px 0;
}
.block ul {
  margin-bottom:10px;
}



/* quicktabs */
.block.block-quicktabs,
.block.block-quicktabs .block { border:none; }
.block.block-quicktabs .block { margin: 10px 0; }
.block.block-quicktabs .block-inner { padding: 20px 0 0; }

.block-locale ul li, 
.block-switch-user ul li {
  list-style:none;
}



.block-views .item h3, 
.block-views .item h4 {
  margin:0;
}

.block-views .item.event .image,
.block-views .item.news .image {
  float:left;
  margin:10px;
  margin-left:0;
}
.block-views .item.event h3.title,
.block-views .item.event p.teaser {
  margin-left:65px;
}

/*
.block-switch-user .form-item-username,
.block-switch-user #edit-submit { display: inline-block; float: left;}
.block-switch-user #edit-submit { margin:10px 10px 10px 20px; }
*/
#block-civicrm-1 h2, #block-civicrm-3 h2 { display:none; }
/* @end BLOCKS */






/* @group frontpage slideshow */

.view-frontpage-slidshow {
  width:900px;
  margin: 0 auto;
}
.front #block-views-frontpage-slidshow-block .description { 
  float: left;
  position:relative;
  left:20px;
  top:-80px;
  color:#fff;
 } 
/* we can't flow the description, overflow of the container cuts it off */
.front #block-views-frontpage-slidshow-block h2.title {
  margin: 0;
  text-shadow:1px 1px 5px #333;
}
.front #block-views-frontpage-slidshow-block p {
  font-size: 1.4em;
  text-shadow:1px 1px 3px #111;
  font-weight:bold;
  font-style:italic;
  font-family:Georgia, 'Times New Roman', serif;
}
.front #block-views-recent-headlines-block h2 {
  font-size:90%;
  text-transform: uppercase;
  margin-bottom:5px;
  display:inline-block;
}
.front #block-views-recent-headlines-block .content {

}

.views-slideshow-controls-bottom {
  /*margin-top:-80px;*/
 	position: absolute;
	top: 0;
	left: 0;
	height: 370px; /* 100% */
	width: 900px; /* 100% */
	z-index: 10;
	filter:alpha(opacity:80); /* Specify opacity for IE */

}

.views_slideshow_controls_text_pause { display: none; }

.previous, .next {
  position: absolute;
  vertical-align:middle;
  cursor:pointer;
  display:block;
  height:100%;
  width:20%;
	background: transparent url(../images/ui/c.gif) no-repeat; /* Trick IE into showing hover */
}
.previous-inner, .next-inner {
  position: absolute;
  height:100%;
  width:100%;
	background: transparent url(../images/ui/c.gif) no-repeat; /* Trick IE into showing hover */
}

.previous span, .next span { display: none; }

.previous { left: 0; float: left; }
.next { right: 0; float: right; }

/* background image for IE */
.previous:hover, .previous:visited:hover { 
	background: url(../images/ui/prev_minus.gif) 10% 50% no-repeat;
}
.next:hover, .next:visited:hover { 
	background: url(../images/ui/next_plus.gif) 90% 50% no-repeat;
}
/* background image for compliant browsers */
.previous:hover, .previous:visited:hover { 
	background: url(../images/ui/prev_chevron.png) 10% 50% no-repeat;
}
.next:hover, .next:visited:hover { 
  background: url(../images/ui/next_chevron.png) 90% 50% no-repeat;
  /*background-color: rgba(255,255,255,0.2);*/
}

.previous-inner:hover, .previous-inner:visited:hover {
	background: -moz-linear-gradient(left, rgba(255,255,255,0.2) 1%, rgba(255,255,255,0.2) 51%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,0.2)), color-stop(51%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.2) 1%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0.2) 1%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0.2) 1%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, rgba(255,255,255,0.2) 1%,rgba(255,255,255,0.2) 51%,rgba(255,255,255,0) 100%); /* W3C */
}
.next-inner:hover, .next-inner:visited:hover {
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 32%, rgba(255,255,255,0.3) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(32%,rgba(255,255,255,0.3)), color-stop(99%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 32%,rgba(255,255,255,0.3) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 32%,rgba(255,255,255,0.3) 99%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 32%,rgba(255,255,255,0.3) 99%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#4dffffff',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 32%,rgba(255,255,255,0.3) 99%); /* W3C */
}
/* @end frontpage slideshow */










/* temp - ad blocks */
aside #block-block-2.block {
  padding:0px;
  border: 0px solid #D6D6D6;
  background:none;
}
.block.ad {
  position:relative;
  bottom:0;
}







/* VIEWS lists */

.node-list article {
  margin-bottom: 20px;
  border-bottom:1px dotted #ccc;
}

article .field-name-field-image {
  margin: 10px 0 20px;
}





/* */

.node div.img-left {
  float:left;
  margin: 5px 15px 15px 0;
}
.node div.img-right{
  float:right;
  margin: 5px 0 15px 15px;
}

.node div.img-left a,
.node div.img-right a {
  display:block;
  padding:5px;
  border:1px solid #ccc;
  line-height:1em;
}
.node div.img-left a:hover,
.node div.img-right a:hover {
  background:#CCEE00;
  border:1px solid #ccc;
}
