body {
  font-size: 13px;
  line-height:1.5;
  font-family:'Droid Serif', Georgia, 'Times New Roman', serif;
  font-style: normal; font-weight: normal; 
}
	
h1, h2, h3, h4, h5, h6,
ul.ui-tabs-nav,
.main-menu,
.block-user-menu { 
	font-family: 'PT Sans'; font-style: normal; font-weight: bold;
	letter-spacing:.025em;
}
.main-menu li li,
.breadcrumb,
.block-menu-block ul,
.tabs  { 
  font-family: 'PT Sans Narrow'; font-style: normal; font-weight: normal; 
	/*letter-spacing:.025em;*/
}
.tabs {
  font-size:18px;
}
.page-events .tabs {
  font-size: 24px;
  margin: 20px 0 15px;
}
.tabs ul.primary {
  line-height: 1.2em;
}

.main-menu li li,
.block-menu-block a {
  /*font-size:125%;*/
}

.block-menu-block a {
  font-size:125%;
}

.main-menu li li li {
  font-size:1em;
  font-size:100%;
}

p, div {
   font-family: 'Droid Serif'; font-style: normal; font-weight: normal;
   /*color:#333;*/
}


a:link, a:visited {
  color: #3b88c6;
  text-decoration: underline;
}

a:hover, a:active {
  color: #666;
  text-decoration: none;
}

a:active {
  color: #295b86;
}

hr {
  margin: 0;  padding: 0;
  border: none;
  height: 1px;
  background: #295b86;
}

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  /*letter-spacing: -0.05em;*/
  font-family: 'PT Sans', Verdana, Helvetica, Arial, sans-serif;
  line-height: 1.1em;
}

h1 {
  font-size: 36px;
}
h1#page-title,
.node-type-page h1#page-title,
.page-news h1#page-title {
  color:#23b990;
  font-family: 'PT Sans Narrow', Verdana, Helvetica, Arial, sans-serif;
  font-size: 44px;
  letter-spacing: 0;
  margin-bottom:30px;
}
h2 {
  font-size: 28px;
  line-height:1.2em;
}
.front h2.block-title {
  color:#23b990;
}

/* Make site titles the same size if it's an H1 (home) or H2 (internal) */
h1.site-name,
h2.site-name {
  font-size: 36px;
}

/* Make it a bit smaller for block headers */
h2.block-title {
  font-size: 18px;
  margin: 0 0 10px 0;	
}

h2.node-title {
  font-size: 28px;
  line-height:1.1em;
  letter-spacing: 0.05em;
}
h2.title a,
h2.node-title a {
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}
h2.title a:hover,
h2.node-title a:hover {
  border-bottom: 1px dotted #295b86; /*202124*/
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}


/* lists */
ul          { list-style-type: square; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }


/* standardize list item indentation */
/*ul, ol {
  margin-left: 0;
  padding-left: 2em;
}*/
/*ul ul,
ol ol {
  padding-top: 0.5em;
}*/

.node ol, .node ul,
.content ul, .content ol {
  margin-left: 0;
  padding-left: 2.2em;
}
/*.block .content ol, 
.block .content ul {
	padding-left: 1em;
}*/
.node ul.inline,
.node ol.inline {
  padding-left: 0;
}


.content ul {
  margin-bottom: 2em;
}
.content ul ul {
  margin-bottom:0;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol,
ul, pre, table, address, fieldset {
  margin-bottom: 10px;
}

dt, .admin h3 {
  font-size: 18px;
  margin: 0;
}

dd {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px;
}


.ui-widget-content {
    color: #333;
}
.ui-widget {
    font-size: 1.1em;
}
.main-menu {
  
}
