/* This file will hold styles that are loaded using the same media query as the wide grid. */


/* #page { background:red; } */


/* TODO preprocess and add a .grid-5 class instead*/
aside#region-sidebar-second { width:355px; }

#region-sidebar-second.grid-6 { width:355px; }



