/**
 * @file
 * WYSIWYG Styling
 *
 * Styles loaded specifically when the wysiwyg editor loads.
 * We need to override some specifics, and include some layout-like elements
 * without loading up the whole stylesheet.
 */


body.cke_show_borders,
body.mceContentBody {
  font-size: 1em; /* reset font size */
  
   /* just in case the theme sets a background on the body tag */
  background: none #FFF;
  
  margin: 10px; /* add a bit of spacing so we aren't right to the edge */
}



/* better safe than sorry */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}